
.idea/.idea.TinkoffTestSolution/.idea/encodings.xml
*.xml
*.json
*.dll
*.pdb
*.csproj
*.props
*.targets
*.sln
*.info
*.cache
ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.GlobalUsings.g.cs
ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.FileListAbsolute.txt
ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.AssemblyInfo.cs
ConsoleApp1/obj/Debug/net6.0/apphost
ConsoleApp1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ConsoleApp1/bin/Debug/net6.0/ConsoleApp1
